#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.overall {
height: 90vh;
width: 90vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.subCont {
flex: 2;
  background: #e60707;
  border-radius: 16px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.sub1Cont {
  flex: 2;
  background: #1f1f1f;
  border-radius: 16px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.leftl{
  flex: 1;
  padding: 1.2rem;
  border-radius: 12px;
  background: rgba(247, 246, 246, 0.08);
  border: 1px solid rgba(247, 246, 246, 0.18);

}

.rightr{
  flex: 1;
  padding: 1.5rem;
  border-radius: 14px;
  background: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.35);

}

.top {
  flex: 1;
  background: #1b1b1b;
  border-radius: 16px;
  padding: 20px;
  overflow-y: auto;
}

.addCont {
  flex: 1;
  padding: 1.5rem;
  border-radius: 14px;
  background: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.35);
}

.minusCont {
  flex: 1;
  padding: 1.5rem;
  border-radius: 14px;
  background: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(92, 28, 28, 0.2);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.35);
}

.botsubCont {
padding: 10px;
margin: 10px;
width: 40vw;
display: flex;
flex-direction: row;
height: 35vh;
}

.multiCont {
  flex: 1;
  padding: 1.5rem;
  border-radius: 14px;
  background: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.35);
}

.divCont {
  flex: 1;
  padding: 1.5rem;
  border-radius: 14px;
  background: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.35);
}

.top input {
  font-size: x-large;
}